---
import { default as Layout } from "../../layouts/Thin/Thin.astro";
import "./Article.scss";

interface Props {
  title: string;
  description: string;
  date: string;
  imageUrl: string;
}

const { title, description, date, imageUrl } = Astro.props;
---

<Layout title={title} description={description} imageUrl={imageUrl}>
  <div class="Article">
    <h1 class="Article__title">{title}</h1>
    <div class="Article__description">{description}</div>
    <hr />
    <div class="Article__author">
      <div class="Article__author__left">
        <img src="/images/me2.jpeg" alt="Author" />
      </div>
      <div class="Article__author__right">
        <div class="Article__author__name">
          <a href="/">Matthew MacRae-Bovell</a>
        </div>
        <div class="Article__author__date">{date}</div>
      </div>
    </div>
    <hr />
    <div style="margin-top: 2.5rem;"></div>
    <div class="Article__content">
      <slot />
      <div>
        <div></div>
      </div>
    </div>
  </div></Layout
>
