---
import "./BlogPreview.scss";

interface Props {
  date: Date;
  title: string;
  description: string;
  image: string;
  previewFontSize?: string;
}

const { date, title, description, image, previewFontSize } = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<div class="BlogPreview">
  <div>
    <div class="BlogPreview__date">
      {formattedDate}
    </div>
    <div class="BlogPreview__title" style={`font-size: ${previewFontSize}`}>
      {title}
    </div>
    <div class="BlogPreview__description">
      {description}
    </div>
  </div>
  <div class="BlogPreview__image">
    <img src={image} alt={title} />
  </div>
</div>
