---
import "@fontsource/geist-sans";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const defaultDescription =
  description || "Matthew MacRae Bovell's personal website";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- Primary Meta Tags -->
    <meta name="title" content={title} />
    <meta name="description" content={defaultDescription} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://matthewmacraebovell.com/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={defaultDescription} />
    <meta
      property="og:image"
      content="https://matthewmacraebovell.com/images/headshot.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="http://matthewmacraebovell.com/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={defaultDescription} />
    <meta
      property="twitter:image"
      content="https://matthewmacraebovell.com/images/headshot.png"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --blue-grey-bg: rgba(11, 53, 81, 0.03);
    --black-4: rgba(0, 0, 0, 0.1);
    --black-2: rgba(0, 0, 0, 0.5);
    --black: black;
    --white: white;
    --medium-sea-green: #008d3e;
    --black-3: rgba(0, 0, 0, 0.4);
    --black-5: rgba(0, 0, 0, 0.8);
    --white-smoke: #f7f7f7;
    --red: #e91a03;
    --theme: #517aff;
    --theme-darker: #3a5fda;
  }
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
  }

  @font-face {
    font-family: "Geistvf";
    src: url("https://matthewmacraebovell.com/fonts/GeistVF.woff");
  }

  @font-face {
    font-family: "GeistMonovf";
	src: url("https://matthewmacraebovell.com/fonts/GeistMonoVF.woff");
  }

  body {
    color: var(--black);
    /* font-variation-settings: "wght" 400; */
    cursor: default;
    background-image: none;
    background-position: 0 0;
    font-family: Geistvf, sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
  }
</style>
